img {
    float: right;
    }
    h1 {
    color: rgba(255, 0, 0, 0.67);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    }